.entire-card {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;
  height: 350px;
  background-color: #d1d1d159;
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-styles {
  text-align: left;
  margin-left: 3px;
}

.platform-spacing {
  align-items: center;
}
.bold {
  font-weight: 600;
  font-size: 13px;
  margin-top: 3px;
}
.deck {
  margin: 15px;
  justify-content: center;
}
.deck-style {
  margin-top: 25px;
}
p {
  margin: 0px;
  color: black;
  /* margin-right: 5x; */
}
.card-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  margin: 10px 0 10px 0;
}
.card-image {
  margin-left: 15px;
  display: flex;
}

.card-buttons {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 5px;
  padding-left: 0px;
}
.card-backlog-button {
  background-color: silver;
  width: 75px;
  height: 45px;
  padding: 3px;
  font-size: 16px;
  border: none;
  margin: 10px;
}

.card-backlog-button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  border: none;
  outline-color: none;
}
.card-backlog-button:active {
  background-color: black;
  transform: translateY(4px);
  outline-color: none;
}

button {
  background-color: white;
  width: 66px;
  height: 30px;
  padding: 3px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}
button:hover {
  color: white;
  background-color: #789;
  cursor: pointer;
  border: none;
  outline-color: none;
}
button:active {
  background-color: #789;
  transform: translateY(4px);
  outline-color: none;
}
