.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-label {
  color: #789;
}

.login-input {
  background-color: #789;
  width: 300px;
}
.login-input:focus {
  background-color: white;
  outline: none;
}
