li {
  list-style: none;
  color: #191925c7;
}
li:hover {
  color: white;
}
.app-header {
  color: #191925c7;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.nav {
  padding: 5px 0 5px 0;
  /* border-bottom: black solid 0.5px; */
}
.link-style {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
