li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.nav {
  padding: 5px 0 5px 0;
  border-bottom: black solid 0.5px;
}

button {
  width: 75px;
  height: 25px;
  border-radius: 5px;
  border-style: none;
  outline-color: white;
  font-size: 15px;
}

button:hover {
  background-color: black;
  color: white;
}
