.plate-layout {
  display: flex;
}

.plate-body {
  text-align: center;
  width: 100%;
}
.title {
  font-size: 20px;
}
.image {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  border-radius: 7px;
}
.plate {
  /* box-shadow: 1px 1px 3px #3e3c3c; */
  width: 400px;
  height: 400px;
  background-color: #789;
  border: 3px solid #789;
  border-radius: 7px;
  margin: 10px;
}
.plate-top {
  height: 300px;
}
.plate-bottom {
  height: 100px;
}

.plate:hover {
  border: rgb(32, 199, 32) 3px solid;
  cursor: pointer;
}
.plate:active {
  transform: translateY(4px);
}
