.profile-info {
  color: #789;
}

.react-tabs__tab--selected {
  background: #789;
  color: #15191f;
}

.entire-list {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.ui.bottom.attached.segment.active.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ui.small.image {
  height: 85px;
}

.currently-playing {
  color: red;
}

.ui.modal {
  height: auto;
  position: relative;
}

.modal-detail-stuff {
  display: flex;
}

.rating {
  display: flex;
}

.detail-input-section {
  display: flex;
  flex-direction: column;
}

/* .date-stats {
} */

/* .ui.container {
  margin-top: 75px;
} */
