.profile-info {
  color: #789;
}

.react-tabs__tab--selected {
  background: #789;
  color: #15191f;
}

.entire-list {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.ui.bottom.attached.segment.active.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
