.search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}
.search-label {
  color: #607d8b;
}
.search-input {
  background-color: #191925c7;
}
.search-input:focus {
  background-color: white;
  outline: none;
}
.input-section {
  align-items: center;
}
.search-input {
  margin-bottom: 10px;
}
.dropdown-section {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.search-layout {
  display: flex;
  width: 100%;
  height: 100%;
}
.search-highlight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 460px;
  text-align: center;
  /* border-right: solid black 1px; */
  align-items: center;
}
.search-results {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.card-display {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}
.entire-card {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #789;
  border-radius: 7px;
}
.back-button {
  display: flex;
  width: 25%;
}
.card-info {
  color: #191925c7;
}
.ui.cards {
  margin-top: 10px;
  justify-content: center;
}
.ui.card {
  width: 750px;
}
.description-style {
  display: flex;
}
.ui.horizontal.list {
  display: flex;
}
.image {
  height: 100%;
}

.card-backlog-button {
  background-color: white;
  width: 66px;
  height: 40px;
  padding: 3px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.card-buttons {
  display: flex;
  justify-content: space-evenly;
}
.card-backlog-button:hover {
  color: white;
  background-color: #191925c7;
  cursor: pointer;
  border: none;
  outline-color: none;
}
.card-backlog-button:active {
  background-color: #191925c7;
  transform: translateY(4px);
  outline-color: none;
}

.game-details {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  color: #191925c7;
}

.card-header {
  font-weight: bolder;
  font-size: 15px;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info {
  color: blue;
}

/* .card-image {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  border-radius: 7px;
} */
